@{

    ViewData["Title"] = "Home";
    Layout = "_Layout";

}
<p>Have a tasy beverage? Want to be featured on our site? Become a sponsor!</p>
<p>Email emily@deliciousdrinkreviews.com for more info on sponsorship</p>