
@{

    ViewData["Title"] = "Home";
    Layout = "_IndexLayout";

}

<h1>Delicious Drink Reviews</h1>
<h4><i>When the thirst is real...</i></h4>

<h2>@Html.ActionLink("Blog", "Index", "Blog")</h2>

<h2>@Html.ActionLink("About", "Index", "About")</h2>

<h2>@Html.ActionLink("Become a Sponsor", "Index", "Sponsor")</h2>

<h2>@Html.ActionLink("GitHub Details", "Index", "Github")</h2>
   