
@{

    ViewData["Title"] = "Home";
    Layout = "_IndexLayout";

}

<h1>Delicious Drink Reviews</h1>
<h4><i>When the thirst is real...</i></h4>

<h2>@Html.ActionLink("Blog", "Index", "Blog")</h2>

<h2>About</h2>

<h2>Become a Sponsor</h2>