@{

    ViewData["Title"] = "Home";
    Layout = "_Layout";

}

<p>I just love drinks. What more can I say?</p>
<div class="profile-pic">
<img src="../img/drinkprofile.jpg" alt="profile picture">
</div>